
/*
font-family:

Georgia
Palatino Linotype
Book Antiqua
Times New Roman
Arial
Helvetica
Arial Black
Impact
Lucida Sans Unicode
Tahoma
Verdana
Courier New
Lucida Console
initial

----
font-size

font-size:

xx-small
x-small
small
medium
large
x-large
xx-large
smaller
larger
10px
20px
50%
150%
1em
0.5em
initial




font-style:

normal
italic
oblique
initial

font-variant:

normal
small-caps
initial

font-weight:

normal
bold
bolder
lighter
100
200
300
400
500
600
700
800
900
initial
*/